body {
    margin: 0 auto;


}

.container {
    margin: auto;
    width: auto;
    height: 960px;

}

header {
    width: 100%;
    height: 15%;
    background-color: #75A1A0;
    display: block;
}

.logo {
    display: inline-block;
    float: left;
    padding-left: 10%;
}

nav ul {
    float: left;
    width: 800px;
    height: 100px;
    position: absolute;
    right: 20px;
    margin-top: 2.5%;
}

nav ul li {
    float: left;
    padding: 0 30px;
    list-style-type: none;

}

nav ul li a {
    font-size: 20pt;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.70);
    font-style: oblique;
    font-family: 'Century Schoolbook', Verdana, Geneva, sans-serif;
    color: black;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-transition: all 1.0s ease-in-out;
    -moz-transition: all 1.0s ease-in-out;
    -o-transition: all 1.0s ease-in-out;
    transition: all 1.0s ease-in-out;
}

nav ul li a:hover,
nav ul li a:focus {
    color: #fff;
    background-color: transparent;
}

main {
    width: 100%;
    height: 40%;
    background-color: green;
}
