
body {
    margin: 0;
    background-image: url("achtergrond.jpg");
    background-size: cover;
}

header {
    width: 100%;
    background-color: #20B2AA;
    opacity: 0.8;

}

ul {
    width: auto;
    height: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;

}

ul li {
    list-style-type: none;

}

li a {
    text-decoration: none;
    font-size: 20pt;
    font-family: 'Arial', Verdana, Geneva, sans-serif;
    color: #ffffff;
}

li img {
    position: relative;
}

.welkom {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 40rem;
}

h1 {
    width: 30%;
    height: 10%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    color: #000000;
    font-family: 'Arial', Verdana, Geneva, sans-serif;
    font-size: 3vmax;

}

article {
    margin-left: 28vw;
    width: 50%;
    font-size: 2vh;
    font-family: 'Arial', Verdana, Geneva, sans-serif;
    color: black;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}